.o_home_menu_background {
  background: url(/backend_theme_v13/static/src/img/home-menu-bg-overlay.svg),
  linear-gradient(to right bottom, #0d517e, #5fa3c9);
  background-size: cover;
}

// App Dashboard

//.o_menu_apps .dropdown-menu.show {
//	background: transparent url('/dashboard') no-repeat scroll center center / cover;
//
//}

.o_menu_apps .dropdown-menu.show {
  background: url(/backend_theme_v13/static/src/img/home-menu-bg-overlay.svg),
  linear-gradient(to right bottom, #496887, #5fa3c9);
  background-size: cover;
}

.fa-th-large::before {
    content: "\f00a";
}

.o_menu_apps .full {
    width: 46px;
    font-size: 18px;
    text-align: center;
}

.o-app-name {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
	padding: 20px 0 0;
}

.o_menu_apps .dropdown-menu.show .o-app-icon:hover {
	box-shadow: 0 8px 15px -10px black;
    transform: translateY(-1px);
}

.dropdown-item.o_app {
    background: transparent;
}

.o-menu-search-result {
	color: #fff;
}

a.dropdown-item.o_app {
  background: transparent;
}